<mat-card class="signin-card">
  <mat-card-header>
      <mat-card-title style="font-family: 'Cormorant Garamond', serif;color: #1a237e"><h2>Sign In</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <mat-form-field>
    <input matInput [(ngModel)]="email"  placeholder="Email Id" required/>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="pwd" type="password" placeholder="Password" required/>
  </mat-form-field>
</mat-card-content>
<mat-card-actions>
  <button mat-raised-button color="accent" (click)="signIn(email,pwd);">Sign In</button>
</mat-card-actions>
</mat-card>