<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><a mat-icon-button routerLink=""><mat-icon>home</mat-icon></a></span>
      <span style="font-family: 'Kaushan Script', cursive; margin-left:2%;">Kodex</span>
      <span class="spacer"></span>
      <span *ngIf="fbAuth.user | async else showSignIn">
          <span><a mat-button routerLink="homepage" [queryParams]="{posts:'myPosts'}">My Posts</a></span>
          <span><a mat-button routerLink="homepage" [queryParams]="{posts:'invitedPosts'}">Invited Posts</a></span>
          <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>person</mat-icon> <span *ngIf="this.fbServ.loggedInUser">{{ (this.fbServ.loggedInUser).name }}</span>
          </button>
          <mat-menu #menu="matMenu" [overlapTrigger]="false">
              <a mat-menu-item (click)="openDialog()" color="primary"><mat-icon>edit</mat-icon>Post</a>
              <a mat-menu-item (click)="signOut()" color="accent">Sign Out</a>
          </mat-menu>
      </span> 
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <ng-template #showSignIn>
    <span></span>
  </ng-template>