  <mat-card>
    <mat-card-title>Reset password</mat-card-title>
    <mat-card-content>
        <mat-form-field style="width: 100%;">
            <input matInput placeholder="Your Email Id" type="email" [(ngModel)]="data" required="true">
          </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="cancelReset()">Cancel</button>
        <button mat-raised-button color="accent" [mat-dialog-close]="data">Reset Password</button>
    </mat-card-actions>
  </mat-card>