/* You can add global styles to this file, and also import other style files */
@import 
    '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import
    'codemirror/lib/codemirror.css';
@import
    'codemirror/theme/eclipse.css';
@import 
    url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Kaushan+Script');

.CodeMirror {
     height: auto;
}

.CodeMirror-scroll {
 max-height: 200px;
}
.mat-dialog-container {
    margin-left:35%;
}